{% extends '__base__.html' %}

{{ super() }}

{% block title %}页面失踪{% endblock %}

{% block beforehead %}
<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css" />
  <style>
  body{
    font-family: 'microsoft yahei',Arial,sans-serif;
    background-color: #222;
  }

  h2 {
    margin-bottom: 20px;
    font-weight: normal;
    color: #EFEFEF;
  }

    h1 {
    color: #FF66CC;
    }


  </style>

{% endblock %}

{% block content %}

<h2 align="center">404 Not Found</h2>

<h1 align="center">There is Something Lost</h1>


{% endblock %}