<table style="width:50%;">
{% for comment in comments %}
<tr style="border-bottom:dashed 1px #A9A9A9;height:40px;">
<th>
	<div>
    <a href="{{ url_for('.user', username=comment.author.username) }}">
      <img src="{{ comment.author.image }}" alt="userimg" width="40" height="40" class="img-responsive img-circle">
    </a>
  </div>
</th>
<th style="width:50%;">
	<p></p>
    <p style="color:#999999;font-style:normal;">{{ comment.body_html|safe }}</p>
</th>
<th style="float:right">
		<p></p>
		<div class="post-date"><script type="text/javascript">document.write(moment.utc("{{comment.timestamp}}").fromNow())</script></div>
		<div class="post-author" style="float:right">
			<a href="{{ url_for('.user', username=comment.author.username) }}">
				{{ comment.author.username }}</a>
		</div>
		<p></p>
		<div style="float:right">
			<!-- 协管员显示管理按钮 -->
		{% if moderate %}
		<br>
			{% if comment.disabled %}
			<a class="btn btn-default btn-xs" href="{{ url_for('.moderate_enable',
					id=comment.id, page=page) }}">Enable</a>
			{% else %}
			<a class="btn btn-danger btn-xs" href="{{ url_for('.moderate_disable',
					id=comment.id, page=page) }}">Disable</a>
			{% endif %}
		{% endif %}
<!-- ^^^协管员显示管理按钮 -->
			</div>
</th>
 </tr>
{% endfor %}
</table>

