<table style="width:80%;">
<style type="text/css">
 p img {
border: 0;
margin: 0;
padding: 0;
max-width: 60px;
width: expression(this.width >               180 ?               "180px" :       
   this.width);
max-height: 60px;
height: expression(this.height >              180 ?               "180px" : 
         
   this.height);
}
</style>
{% for post in posts %}
<tr style="border-bottom:dashed 1px #A9A9A9;height:100px;">
<th>
	<div>
    <a href="{{ url_for('.user', username=post.author.username) }}">
      <img src="{{ post.author.image }}" alt="userimg" width="80" height="80" class="img-responsive img-circle">
    </a>
  </div>
</th>
<th style="width:50%;">
	<p></p>
    <a href="{{ url_for('.post', id=post.id) }}">
              <h4 class="list-group-item-heading">{{ post.title }}</h4></a>
    <p>{{ post.body_html|safe|truncate(60) }}</p>
    <i class="glyphicon glyphicon-comment"><span class="badge">{{ post.comments.count() }}</span></i>
</th>
<th style="float:right">
		<p></p>
		<div class="post-date"><script type="text/javascript">document.write(moment.utc("{{post.timestamp}}").fromNow())</script></div>
		<div class="post-author" style="float:right">
			<a href="{{ url_for('.user', username=post.author.username) }}">
				{{ post.author.username }}</a>
		</div>
		<p></p>
		<div style="float:right">
					{% if current_user == post.author %}
			<a href="{{ url_for('.edit', id=post.id) }}">
			<span class="label label-primary">Edit</span>
			</a>
		
			<span class="label label-danger" data-toggle="modal" data-target="#myModal">Delete</span>
			
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>确定删除该blog么？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="location.assign('{{ url_for('.delete', id=post.id) }}')">确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
			{% elif current_user.is_administrator() %}
			<a href="{{ url_for('.edit', id=post.id) }}">
			<span class="label label-danger">Edit [Admin]</span>
			</a>
			<a href="{{ url_for('.delete', id=post.id) }}">
			<span class="label label-danger">Delete [Admin]</span>
			</a>
			{% endif %}
			</div>
</th>
 </tr>
{% endfor %}
</table>