<table style="width:80%;">
{% for post in posts %}
<tr style="border-bottom:dashed 1px #A9A9A9;height:100px;">
<th>
	<div>
    <a href="{{ url_for('.user', username=post.author.username) }}">
      <img class="media-object" src="{{ post.author.image }}" alt="userimg" width="50" height="50" class="thumbnail">
    </a>
  </div>
</th>
<th style="width:50%;">
	<p></p>
    <a href="{{ url_for('.post', id=post.id) }}">
              <h4 class="list-group-item-heading">{{ post.title }}</h4></a>
    <p>{{ post.body_html|safe|truncate(60) }}</p>
    <span ><i class="glyphicon glyphicon-comment"> {{ post.comments.count() }}</i></span>
</th>
<th style="float:right">
		<p></p>
		<div class="post-date"><script type="text/javascript">document.write(moment.utc("{{post.timestamp}}").fromNow())</script></div>
		<div class="post-author" style="float:right">
			<a href="{{ url_for('.user', username=post.author.username) }}">
				{{ post.author.username }}</a>
		</div>
		<p></p>
		<div style="float:right">
					{% if current_user == post.author %}
			<a href="{{ url_for('.edit', id=post.id) }}">
			<span class="label label-primary">Edit</span>
			</a>
			<a href="{{ url_for('.delete', id=post.id) }}">
			<span class="label label-danger">Delete</span>
			</a>
			{% elif current_user.is_administrator() %}
			<a href="{{ url_for('.edit', id=post.id) }}">
			<span class="label label-danger">Edit [Admin]</span>
			</a>
			<a href="{{ url_for('.delete', id=post.id) }}">
			<span class="label label-danger">Delete [Admin]</span>
			</a>
			{% endif %}
			</div>
</th>
 </tr>
{% endfor %}
</table>