{% extends '__base__.html' %}

{% import "_macros.html" as macros %} <!--分页宏-->

{{ super() }}

{% block title %}首页{% endblock %}

{% block beforehead %}
<script type="text/javascript">
  $(function active(){
    if("{{ show_followed }}" == 'True'){
      $("#look_followed").attr("class","active");
    }
    else {
      $("#look_all").attr("class","active");
    }
  });  
  
</script>


{% endblock %}

{% block content %}
<div class="container">
{% if current_user.is_authenticated %}

<div class="page-header">
      <ul class="nav nav-pills" role="tablist">
        <li role="presentation" id="look_all"><a href="/all">所有的</a></li>
        <li role="presentation" id="look_followed"><a href="/followed">关注的</a></li>
      </ul>
      </div>
{% endif %}

  <!-- blog的显示页面 -->
  {% include '_posts.html' %}

  <!--分页-->
  <div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
  </div>
</div>
{% endblock %}


