{% extends '__base__.html' %}

{{ super() }}

{% import "_macros.html" as macros %} <!--分页宏-->

{% block title %}个人主页{% endblock %}

{% block beforehead %}

{% endblock %}

{% block content %}

<div class="page-header">

{% if user == current_user %}
<!-- common user --> 
<a href="/edit-profile/{{ user.username }}">编辑资料</a>

{% elif current_user.is_administrator() %}
 <!-- administrator -->
<a href="/admin_edit-profile/{{ user.id }}">编辑资料</a>

{% endif %}

<!-- 关注 -->
{% if current_user.can(Permission.FOLLOW) and user != current_user %}
{% if not current_user.is_following(user) %}
<a href="{{ url_for('.follow', username=user.username) }}"
class="btn btn-primary">Follow</a>
{% else %}
<a href="{{ url_for('.unfollow', username=user.username) }}"
class="btn btn-default">Unfollow</a>
{% endif %}
{% endif %}
<a href="{{ url_for('.followers', username=user.username) }}">
Followers: <span class="badge">{{ user.followers.count() - 1 }}</span>
</a>

<a href="{{ url_for('.followed_by', username=user.username) }}">
Following: <span class="badge">{{ user.followed.count() - 1 }}</span>
</a>

{% if current_user.is_authenticated and user != current_user and
user.is_following(current_user) %}
| <span class="label label-default">Follows you</span>
{% endif %}
<!-- ^^关注 -->

<!-- common visitor -->
	<h1>{{ user.username }}</h1>
	<img src="{{user.image}}">
	{% if user.location %}
	<p>
		<a href="http://maps.google.com/?q={{ user.location }}">
		{{ user.location }}</a>
		</p>
	{% endif %}
	
		{% if current_user.is_administrator() %}
		<p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
		{% endif %}
		{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}

<!-- blog的显示页面 -->
{% include '_posts.html' %}

<div class="pagination">
{{ macros.pagination_widget(pagination, '.index') }}
</div>

{% endblock %}