{% extends '__base__.html' %}

{{ super() }}

{% import "_macros.html" as macros %} <!--分页宏-->

{% block title %}个人主页{% endblock %}

{% block beforehead %}

<style type="text/css">
	.all_i{
		width:90%; 
		margin:0 auto;
	}
	.post{
	width:80%;
    float:left;/*设置浮动，实现多列效果，div+Css布局中很重要的*/
}
	.userinfo{
    width:20%;
    float:right;/*设置浮动，实现多列效果，div+Css布局中很重要的*/
	}
	.pagination{
	clear:both;
    text-align: center;
	}
</style>
{% endblock %}

{% block content %}

<div class="all_i">
	<div class="post">
	<!-- blog的显示页面 -->
	{% include '_posts.html' %}
	
		<div class="pagination" align="center">
		{{ macros.pagination_widget(pagination, '.index') }}
		</div>
	</div>


  <div class="userinfo">
    <div class="thumbnail">
      <img src="{{user.image}}" alt="userimg" class="img-responsive img-circle">
      <div class="caption">
        <h3>{{ user.username }}</h3>

        {% if user.location %}
		<p>地址：<a href="http://map.baidu.com/?q={{ user.location }}">
		{{ user.location }}</a>
		</p>
		{% endif %}
		<p>注册时间：<script type="text/javascript">document.write(moment.utc("{{ user.member_since }}").format('YYYY-MM-DD'))</script></p>
		{% if user != current_user %}
		<p>最后登陆：<script type="text/javascript">document.write(moment.utc("{{ user.last_seen }}").fromNow())</script></p>
		{% endif %}
		{% if current_user.is_administrator() %}
		<p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
		{% endif %}
		{% if user.about_me %}<p>签名：{{ user.about_me }}</p>{% endif %}

        	<!-- 编辑 -->
			{% if user == current_user %}
			<!-- common user --> 
			<p><a href="/edit-profile/{{ user.username }}" class="btn btn-primary">编辑资料</a></p>
			{% elif current_user.is_administrator() %}
 			<!-- administrator -->
			<p><a href="/admin_edit-profile/{{ user.id }}" class="btn btn-primary">编辑资料</a></p>
			{% endif %}
        	<!-- 关注 -->
        <p><a href="{{ url_for('.followers', username=user.username) }}">关注他的 <span class="badge">{{ user.followers.count() - 1 }}</span></a>
			<a href="{{ url_for('.followed_by', username=user.username) }}">他关注的 <span class="badge">{{ user.followed.count() - 1 }}</span>
			</a></p>
		
			{% if current_user.is_authenticated and user != current_user and
			user.is_following(current_user) %}
			<p><span class="label label-default">正在关注你</span></p>
			{% endif %}
        
        {% if current_user.can(Permission.FOLLOW) and user != current_user %}
			{% if not current_user.is_following(user) %}
			<p><a href="{{ url_for('.follow', username=user.username) }}"
	class="btn btn-primary" role="button">关注</a></p>
			{% else %}
			<p><a href="{{ url_for('.unfollow', username=user.username) }}"
	class="btn btn-default" role="button">取消关注</a></p>
			{% endif %}
		{% endif %}
		<!-- ^^关注 -->
      </div>
    </div>
  </div>
</div>


{% endblock %}